
@font-face {
  font-family: kite-icons;
  src: url(kite-icons.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

[data-icon]::before {
  font-family: kite-icons;
  content: attr(data-icon);
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  overflow: hidden;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
